.jumbotron {
    margin: 1em;
    background-image: url(Imagen/2560x1600-Fondo-de-pantalla-HD-Full-HD-papel-tapiz-de-color-solido-papel-tapiz-de-color-solido-768x480.jpg);
    background-size: cover;
    color: white;
}

h1{
    text-align: justify;
    margin: 8px;
}

p{
    text-align: justify;
    margin: 8px;
    font-size: 19px;
}

.cont-d {
    text-align: justify;
    margin: 2em;
}
 .cont-r {
    text-align: justify;
    margin: 2em;
 }