
h1{
    text-align: justify;
    margin: 8px;
}

p{
    text-align: justify;
    margin: 8px;
    font-size: 19px;
}

.cont-d {
    text-align: justify;
    margin: 2em;
}
 .cont-r {
    text-align: justify;
    margin: 2em;
 }