.register-form {
   width: 50rem;
   background-color: #7a8b9991;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.input-err {
   color: red;
}
.btn-inicio {
   background-color: #facd03;
   color: black;
   border-radius: 20px;
   border-style: none;
   width: auto;
}
