.product-card-2{
    display: flex;
    flex-direction: column;
    width: 15em;
    border: solid 1px black;
    border-radius: 15px;
    & img{
        width: 14em;
        margin: 1em auto;
        border-radius: 20px;
    }
}

.product-card-2-content{
    flex-direction: column;
    text-align: center;
    padding: 1em;
    & h2{
        font-size: 15px;
    }
    & button{
        font-weight: 500;
        padding: 0.1em 0.6em;
        margin: 0.8em;
    }
}