.product-card{
    display: flex;
    flex-direction: column;
    background-color: #2E3532;
    border-radius: 25px;
    width: 250px;
    padding: 1em;
    margin: 1em;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.product-card-content{
    color: white;
    margin: 1em;
}

.product-card-title{
    font-size: medium;
}

.product-card-price{
    color: green;
    font-weight: 500;
}

.product-card-button{
    background-color:#FACD03;
    color: black;
    width: 7em;
    margin: auto;
    border-radius: 20px;
    border: black solid 1px;
    font-weight: 500;
}