.container-is {
   margin: 2em;
}

.ini {
   background-color: rgb(238, 228, 228);
   border-radius: 10px;
   padding: 1em;
   box-sizing: content-box;
}

.labelInicio {
   font-size: 20px;
   margin: 10px;
   text-align: justify;
}
.inputInicio {
   width: 80%;
   height: 40px;
   border-radius: 3px;
}

.container1 {
   margin-bottom: 10px;
}

.H-inicio {
   font-size: 19px;
}

.btn-iniciosesion {
   margin: 1em;
   text-align: justify;
}
