/* Estilos para el contenedor principal del producto */
  .product-container {
    width: 940px;
    height: 600px;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
  }

  .product-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para la imagen del producto */
  .product-image {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  /* Estilos para los detalles del producto */
  .product-details {
    padding: 16px;
    /* margin-top: 6em; */
  }
  
  /* Estilos para el nombre de la marca */
  .product-brand {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* Estilos para el SKU del producto */
  .product-sku {
    font-size: 14px;
    color: #666;
    margin-bottom: 4px;
  }
  
  /* Estilos para el precio del producto */
  .product-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  /* Estilos para el contenedor de cantidad */
  .quantity-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  /* Estilos para la etiqueta de cantidad */
  .quantity-container label {
    margin-right: 8px;
    font-size: 14px;
  }
  
  /* Estilos para el campo de entrada de cantidad */
  .quantity-container input[type="number"] {
    width: 50px;
    padding: 4px 8px;
    font-size: 14px;
    text-align: center;
  }
  
  /* Estilos para el botón "Añadir al carrito" */
  .add-to-cart-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Estilos para el botón "Añadir al carrito" al pasar el ratón */
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  