.nav-resp-container {
   z-index: 1000;
   top: 0;
}

.nav-resp-bar {
   display: flex;
   background-color: #2e3532;
   position: fixed;
   width: 100%;
   height: 4em;
   z-index: 1500;
   justify-content: space-between;
}

.nav-resp-bar-btn {
   margin: auto 0.4em;
   color: white;
}


.block-nav{
   display: flex;
   flex-direction: row;
}

.nav-resp-bar-img{
   display: flex;
   height: 4em;
   width: 4em;
   margin: auto;
   padding: auto;
   justify-content: center;

}

.nav-resp-bar-zoom {
   margin: auto 0.4em;
   color: white;
   z-index: 2000;
}

.carrito-responsive {
   margin: auto 0.1em;
   color: white;
   display: flex;
   z-index: 2000;
}

.carrito-responsive span {
   transform: translate(-30px, 5px);
   color: black;
   border-radius: 100px;
   font-weight: 900;
   z-index: 2000;
}

.nav-resp-bar-input {
   position: fixed;
   display: flex;
   width: 100%;
   margin-top: 4em;
   text-align: center;
   background-color: #3f4945;
   padding: 1em;
   transform: translateY(0px);
   transition: all 0.5s;
}

.nav-resp-bar-input.clicked {
   transform: translateY(-100px);
   transition: all 0.5s;
}
.nav-resp-bar-from {
   margin: auto;
   width: 100%;
}

.nav-resp-bar-from input {
   border-radius: 15px;
   padding: 0.3em;
   border: 1px solid rgb(0, 0, 0);
   width: 20em;
   border: none;
   outline: none;
}

.responsive-categories {
   position: fixed;
   transform: translateX(0px);
   transition: all 0.5s;
   background-color: #2e3532;
   color: white;
   width: 20em;
   height: 100vh;
   padding-top: 5em;
   padding-bottom: 3em;
   padding-left: 1em;
}

.responsive-categories.clicked {
   transform: translateX(-350px);
   transition: all 0.5s;
}

@media (min-width: 1000px) {
   .nav-resp-container {
      display: none;
   }
}
@media (max-width: 999px) {
   .nav-padding {
      padding-bottom: 4rem;
   }
}
